.msg{
  margin-left:100px;
  line-height: 1.6rem;
  padding:15px;
  text-align: center;
  font-size:1rem;
  font-weight:550;
  color:#fd1c03;
}

#delete-overlay{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.85);
    border-radius: 10px;
    width:100%;
    z-index:1;
    display:flex;
    align-items: center;
    justify-content:center;
}

#delete-overlay #delete-content{
    background-color:#313233;
    padding:25px;
    border-radius:10px;
    height:130px;
    width:400px;
    display:flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
}

button {
    font-family: "HelveticaNeueCyr", "HelveticaNeue-Light", "Helvetica Neue Light",
      "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    width: 60%;
    margin:5px auto;
    font-size: 1.1rem;
    box-sizing: border-box;
    outline: none;
    background: transparent;
    color: white;
    padding: 10px;
    border:none;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
  }