#main-table {
  @apply mt-3 block overflow-auto;
  border-collapse: separate;
  border-spacing: 0 0.75rem;
}

#main-table th,
#main-table td {
  @apply text-left text-xs md:text-sm font-bold py-2 px-4 truncate;
  min-width: 150px;
  width: 50vw;
  max-width: 50vw;
}

@media (max-width: 768px) {
  #main-table th,
  #main-table td {
    min-width: 0;
    width: fit-content;
  }
}

#main-table .data td:first-child,
#main-table .total td:first-child,
#main-table .header th:first-child {
  @apply rounded-l-lg;
}

#main-table .data td:last-child,
#main-table .total td:last-child,
#main-table .header th:last-child {
  @apply rounded-r-lg;
}

#main-table .header {
  background: linear-gradient(#404d58 0%, #3e4449 100%);
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
}

#main-table .data {
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
}

#main-table .total {
  background: transparent;
}

/* width */
#main-table::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

/* Track */
#main-table::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
#main-table::-webkit-scrollbar-thumb {
  @apply rounded-lg;
  background: #939393;
}

/* Handle on hover */
#main-table::-webkit-scrollbar-thumb:hover {
  background: #888;
}
