.notes-area {
  @apply text-sm md:text-base w-full p-3 rounded-md leading-6;
  background-color: #313233;
  color: white;
  height: 65vh;
  outline: none;
  resize: none;
  border: 2px solid #979797;
}
