.sidebar {
  @apply hidden md:flex;
  background: linear-gradient(to bottom, #218f8f, #1fbcbc);
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

@keyframes fade-in {
  100% {
    transform: translateY(0);
  }
}
